
# Executables
*.exe
MotionGenesis.exe
MotionGenesisStartHere.lnk
MotionGenesisStartHereBigFont.lnk
MotionGenesisStartHereSmallFont.lnk
MotionGenesisTerminal.lnk
MotionGenesisTerminalBigFont.lnk
MotionGenesisTerminalSmallFont.lnk
PlotGenesis.lnk

# Motion Genesis License
MGLicense.txt

# Motion Genesis links
.lnk
.Ink
.ink
.1nk

# Other Install stuff
MGToolbox/
./_mgTmp.01
./_mgTmp.02
./_mgTmp.03
./_mgTmp.04
./_mgTmp.05
./_mgTmp.06
./_mgTmp.07
./_mgTmp.08
_mgTmp.01
_mgTmp.02
_mgTmp.03
_mgTmp.04
_mgTmp.05
_mgTmp.06
_mgTmp.07
_mgTmp.08